/* Slideshow Container */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
  }
  
  /* Individual Slides */
  .slide {
    display: none;
    position: relative;
    text-align: center;
  }
  
  .slide img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }